<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cbienkit" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CBKit</name>
	<author>CBien</author>
    <license>MIT License</license>
    <description>Cordova plugin for CBKit</description>
    <repo>https://github.com/CBien/cbien-cordova.git</repo>
    <keywords>cbien,cbien-cordova</keywords>

	<dependency id="cordova-plugin-file" version="^4.0.0" />
	<dependency id="cordova-plugin-add-swift-support" version="1.6.2"/>
	<dependency id="cordova-plugin-wkwebview-engine" version="^1.0.0"/>

    <engines>
      <engine name="cordova" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=4.0.0" />
      <engine name="cordova-android" version=">=4.0.0" />
    </engines>

	<js-module name="CBKit" src="www/CBKit.js">
		<clobbers target="CBKit" />
	</js-module>

	<platform name="ios">
		<hook type="after_plugin_add" src="hooks/after_plugin_add.js" />

		<config-file parent="/*" target="config.xml">
			<feature name="CBKit">
				<param name="ios-package" value="CBKit" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<source-file src="src/ios/CBKit.m" />
		<framework src="src/ios/CBKit.framework" custom="true"/>

		<framework src="Foundation.framework" />
	    <framework src="UIKit.framework" />
	    <framework src="QuartzCore.framework" />

	</platform>

	<platform name="android">

		<source-file src="src/android/CBienKit.java" target-dir="src/com/cbien/android/sdk" />
		
		<framework src="src/android/cbien.gradle" custom="true" type="gradleReference" />

    	<resource-file src="src/android/cbien.aar" target="libs/cbien.aar" />

        <config-file target="config.xml" parent="/*">
            <feature name="CBienKit">
                <param name="android-package" value="com.cbien.android.sdk.CBienKit"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>

	    <hook type="before_prepare" src="hooks/BeforePluginInstall.js" />
    </platform>
</plugin>
